.contain {
    display: inline-block;
    float: left;
    width: 45%;
    margin-bottom: 0%;
}

.input {
    display: inline-block;
    float: right;
    width: 50%;
}

ol {
    list-style: none;
    width: 340px;
}

#contactForm label {
    float: left;
    margin: 0;
    width: 120px;
    padding: 5px 0;
    font: normal 1.3em Arial, Helvetica, sans-serif;
    color: #222;
    text-transform: capitalize;
}

#suggestName,
#suggestE-mail {
    width: 400px;
}

#suggestion {
    width: 400px;
    height: 100px;
    resize: none;
}

#contactForm li {
    margin: 20px;
}

#sendButton {
    margin-left: 60px;
    width: 100px;
}

.separateLine {
    padding:1px 6px 390px 6px;
    margin-left: 61px;
    border-left: 1px solid;
    font-size: 0;
}